.calc
  &__forms
    vertical-align: top
    padding: 0
    margin: 0
    > div
      display: none
      vertical-align: top
      width: 250px
      background-color: #efefef
      padding: 5px 20px 5px 20px
      margin-right: 10px
      margin-bottom: 10px
      h2
        font-size: 18px
        div
          font-weight: lighter
          color: #b7b7b7
      .field
        margin-bottom: 10px

        label
          display: block
          //font-weight: bold
          font-size: 14px
        select
          width: 100%
