-
    var app = {
        name: 'Barebone boilerplate',
        description: 'Boilerplate for modern front end developers',
        author: 'Antipov Timofey',
        email: 'timofey@antipov.ru'
    }
